#day1 {
    background-color: rgb(73, 73, 230);
    color: white;
}

#day2 {
    background-color: rgb(73, 73, 230);
    color: white;
}

#day3 {
    background-color: rgb(73, 73, 230);
    color: white;
}

#day4 {
    background-color: rgb(73, 73, 230);
    color: white;
}

#day5 {
    background-color: rgb(73, 73, 230);
    color: white;
}